{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block body_block %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
<div class="jumbotron">
    <h1 class="display-4">New User Registration</h1>
</div>

<form role="form" method="post" action=".">
    {% csrf_token %}

    <div class="form-group">
        <p class="required" style="width: 50%;">
            <label class="required" for="id_username"> UserName </label>
            <input class="form-control" id="id_username" maxlength="30" name="username" type="text"/>
            <span class="helptext">Required 30 characters or fewer. Letters, digits and @/./+/_ only.</span>
        </p>
        <p class="required" style="width: 50%;">
            <label class="required" for="id_email"> E-Mail </label>
            <input class="form-control" id="id_email" maxlength="30" name="email" type="email"/>
            <span class="helptext">Please type valid Email.</span>
        </p>
        <p class="required" style="width: 50%;">
            <label class="required" for="id_password1"> Password </label>
            <input class="form-control" id="id_password1" name="password1" type="password"/>
        </p>
        <p class="required" style="width: 50%;">
            <label class="required" for="id_password2"> Password confirmation </label>
            <input class="form-control" id="id_password2" name="password2" type="password"/>
            <span class="helptext">Please enter same password as before, for verification.</span>
        </p>
    </div>
        <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
